table, td, th {
	text-align: center;
  line-height: 3rem;
  border: 1px solid #CCC;
}

table {
  width: 90rem;
	margin: 5rem auto 0;
	background-color: transparent;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

th,td{
	padding:0.5rem 0.4rem;
	font-size: 1.3rem;
	font-weight: 600;
	height: 3rem;
	vertical-align: middle;
	max-width: 20rem;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

caption {
	font-weight: 700;
	font-size: 2.5rem;
	margin-bottom:2rem;
	color: #777;
	text-align: left;
}

table a {
	color: #421c17;
}

/* 分页开始 */
.page {
	padding: 3rem 0;
	font-size: 0;
	text-align: center;
	white-space: nowrap;
}

.page a,.page span {
	display: inline-block;
	font-size: 1.5rem;
	padding:0.5rem;
	margin: 0 1rem;
}

.page .active {
	color: darkblue;
	font-weight: 700;
}

.page .page-jump {
	display: inline-block;
}

.page .page-jump span{
	margin:0;
}

.page .page-jump input{
	padding:0.2rem 0.5rem;
}

.page .page-jump input[type=text]{
	text-align: center;
	width:3rem;
}

/* 分页结束 */